<!-- templates/privacy_policy.html -->
{% extends 'base.html' %}

{% block title %}
  <title>Privacy Policy - Money Term</title>
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h1><i class="fas fa-shield-alt"></i> Privacy Policy</h1>
  <p>
    This Privacy Policy describes how we collect, use, and disclose your personal information when you visit our website. By using our website, you agree to the collection and use of information in accordance with this policy.
  </p>
  <h2><i class="fas fa-file-alt"></i> Information Collection and Use</h2>
  <p>
    We collect several different types of information for various purposes to provide and improve our service to you.
  </p>
  <h2><i class="fas fa-chart-bar"></i> Log Data</h2>
  <p>
    We may also collect information that your browser sends whenever you visit our website ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our website that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
  </p>
  <h2><i class="fas fa-cookie-bite"></i> Cookies</h2>
  <p>
    Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your computer's hard drive.
  </p>
  <h2><i class="fas fa-edit"></i> Changes to This Privacy Policy</h2>
  <p>
    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
  </p>
  <h2><i class="fas fa-envelope"></i> Contact Us</h2>
  <p>
    If you have any questions about this Privacy Policy, please contact us at <a href="mailto:arrkpong1@gmail.com" class="link-primary">arrkpong1@gmail.com</a>.
  </p>
</div>
{% endblock %}
