<!--user_app\templates\reset_password.html-->
{% extends 'base.html' %}
{% load static %}

{% block title %}
  <title>Reset Password</title>
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset_password/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center"><i class="fas fa-key"></i> Reset Password</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="id_email"><i class="fas fa-envelope"></i> {{ form.email.label }}</label>
              <input type="email" class="form-control my-3" name="email" id="id_email" placeholder="Enter your email" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block mt-3"><i class="fas fa-arrow-right"></i> Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
